.anniversary-card {
    border: 2px solid #ed8500; /* Color del borde */
    border-radius: 10px; /* Bordes curvos */
    padding: 10px;
    width: 250px;
  }
  
  .date-container,
  .event-container {
    text-align: center;
  }
  
  .date-text {
    font-family: 'Bw Darius DEMO Regular', sans-serif;
    color: #000000; /* Color del texto */
    text-decoration: underline; /* Texto subrayado */
    text-decoration-color: #0d032b; /* Color de la raya de subrayado */
  }
  
  .event-text {
    font-family: 'Montserrat Regular', sans-serif;
    color: #000000; /* Color del texto */
  }
  